extends ../layouts/default

block intro
	.container.header-title
		h2.title Contáctanos 

block content
	.container
		if enquirySubmitted
			h3 Gracias por sus comentarios.
		else
			.row: .col-sm-8.col-md-12
				form(method='post')
					.row
						.col-sm-4.col-md-6
							.form-group(class=validationErrors.name ? 'has-error' : null)
								.row
									label.contact-label Nombre
								.row
									input(type='text', name='name.full', value=formData['name.full']).form-contact
							.form-group
								.row
									label.contact-label Teléfono
								.row
									input(type='text', name='phone', value=formData.phone, placeholder='(opcional)').form-contact
						.col-sm-4.col-md-6
							.form-group(class=validationErrors.email ? 'has-error' : null)
								.row
									label.contact-label Email
								.row
									input(type='email', name='email', value=formData.email).form-contact
							.form-group(class=validationErrors.email ? 'has-error' : null)
								.row
									label.contact-label Asunto
								.row
									input(type='text', name='subject', value=formData.email).form-contact
					.row
						.col-sm-5.col-md-8.col-md-offset-2
							.form-group(class=validationErrors.message ? 'has-error' : null)
								.row
									label.contact-label Mensaje
								.row
									textarea(name='message', placeholder='Dejanos un mensaje...' rows=4).form-contact= formData.message
					.form-actions
						.row: col-sm-8.col-md-12
							.row
								.col-sm-4.col-md-5
								.col-sm-4.col-md-5
									br
									button(type='submit').btn.btn-primary Enviar
