extends ../layouts/default

block content
	.container-fluid.post-container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog', style="color:#152A47;") &larr; regreso al blog
			if !data.post
				h2 Post inválido.
			else
				header
					h1.blogtitle= data.post.title
					if data.post.publishedDate
						h4.blogtitle #{data.post._.publishedDate.format('DD/MM/YYYY')}
					if data.post.categories && data.post.categories.length
						| en 
						each cat, cat_i in data.post.categories
							a(href='/blog/' + cat.key)= cat.name
							if cat_i < data.post.categories.length - 1
								| , 
							else
								|  
						if data.post.author
							| por #{data.post.author.name.first}
				.post
					div.row
						div.col-sm-12.col-md-7
							if data.post.image.exists
								.image-wrap: img(src=data.post.image.secure_url).img-responsive.img-thumbnail
						div.col-sm-12.col-md-5
							!= data.post.content.full   
