extends ../layouts/default

mixin item(item)
	img(src=item.image.secure_url, alt=item.slug)
	
block content
	div.header-title
		div.container
			div.row
				div.col-md-4
					div.slider-images.card.card-raised
						each item in data.items
							+item(item)
				div.col-md-8
					div.row
						h2.title(id="itemTitle") #{data.program_obj.name}
						p.description(id="itemIng") #{data.program_obj.properties}
						p.description(id="itemPerks") #{data.program_obj.ingredients}
	script(type='text/javascript').
		var local_data =!{JSON.stringify(data)}